$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$color_green: rgb(11, 121, 10);
$color_white: rgb(240, 239, 239);
$color_yellow: #EBAF17ff;
$color_red: #d90429;


.content {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputPart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnAdd {
    background: $color_green;
    color: $color_white;
}

.btnAdd:disabled {
    opacity: 0.6;
}

.inputTask {
    width: 780px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.button {
    width: 100px;
    height: 49px;
    border-radius: 5px;
    border: none;
}